/* style.css */
.root {
    -fx-background-color: #f0f0f0;
}

.button {
    -fx-background-color: #E37;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.new-component {
    -fx-background-color: #DDD;
    -fx-text-fill: #000;
    -fx-min-height: 48px;
    -fx-max-width: 200px;
    -fx-padding: 8 8 8 8;
    -fx-background-radius: 8;
}

.new-component:hover {
    -fx-background-color: #CEC;
}

.props-menu {
    -fx-background-color: #396;
}

.props-table {
    -fx-background-color: #EFE;
}

.props-menu-label {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-min-width: 128;
    -fx-padding: 8 8 8 16;
}

.props-menu-value {
    -fx-background-color: transparent;
    -fx-text-fill: #000;
    -fx-min-width: 250;
    -fx-padding: 8 32 8 0;
}

.property-list-validator {
}

.property-list-validator-button:selected {
    -fx-background-color: #06F;
    -fx-text-fill: white;
}

.property-list-validator-button {
    -fx-background-color: #D0F8FF;
}

.property-list-validator-button-first {;
    -fx-background-radius: 10 0 0 10;
}

.property-list-validator-button-middle {
    -fx-background-radius: 0;
}

.property-list-validator-button-last {
    -fx-background-radius: 0 10 10 0;
}

.property-list-validator-dropdown {
    -fx-background-color: #EEE;
}